@charset "UTF-8";
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/montserrat-medium.woff2") format("woff2"), url("fonts/montserrat-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

.ds-scope .ds-stack-larger > *,
.ds-scope .ds-stack > *,
.ds-scope .ds-card .ds-card-body > *,
.ds-scope .ds-stack-smaller > *,
.ds-scope .ds-filter > *,
.ds-scope .ds-copyright > *,
.ds-scope .ds-stack-smallest > *,
.ds-scope .ds-advanced-filters > * {
  margin: 0; }

.ds-scope .ds-stack-larger > * + * {
  margin-top: 4.76837rem; }

.ds-scope .ds-stack > * + * {
  margin-top: 3.05176rem; }

.ds-scope .ds-card .ds-card-body > * + *, .ds-scope .ds-stack-smaller > * + *, .ds-scope .ds-filter > * + * {
  margin-top: 1.5625rem; }

.ds-scope .ds-copyright > * + *, .ds-scope .ds-stack-smallest > * + *, .ds-scope .ds-advanced-filters > * + * {
  margin-top: 0.25rem; }

.ds-scope .ds-cluster > *, .ds-scope .ds-header nav > *, .ds-scope .ds-subnav > *, .ds-scope .ds-filter-cluster > *,
.ds-scope .ds-cluster-right > *,
.ds-scope .ds-cluster-center > * {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: calc(0.625rem * -1); }

.ds-scope .ds-cluster > * > *, .ds-scope .ds-header nav > * > *, .ds-scope .ds-subnav > * > *, .ds-scope .ds-filter-cluster > * > *,
.ds-scope .ds-cluster-right > * > *,
.ds-scope .ds-cluster-center > * > * {
  margin: 0.625rem; }


.ds-scope .ds-cluster-right > * {
  justify-content: flex-end; }


.ds-scope .ds-cluster-center > * {
  justify-content: center; }

.ds-scope .ds-cluster-tight > *, .ds-scope .ds-filter-cluster > * {
  margin: calc(0.25rem * -1); }

.ds-scope .ds-cluster-tight > * > *, .ds-scope .ds-filter-cluster > * > * {
  margin: 0.25rem; }

.ds-scope .ds-grid {
  padding: 0; }

.ds-scope .ds-grid > * {
  list-style: none;
  margin: 0;
  max-width: none; }

.ds-scope .ds-grid > * + * {
  margin-top: 1.5625rem; }

@supports (width: calc(min(20px, 100%))) {
  .ds-scope .ds-grid > * + * {
    margin-top: 0; }
  .ds-scope .ds-grid {
    display: grid;
    grid-gap: var(--gridGap, 1.25rem);
    --gridCellMin: 30ch;
    grid-template-columns: repeat(auto-fit, minmax(min(var(--gridCellMin), 100%), 1fr)); } }

.ds-scope .ds-with-sidebar > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(1rem * -1); }

.ds-scope .ds-with-sidebar .ds-sidebar {
  margin: 1rem;
  flex-grow: 1; }

.ds-scope .ds-with-sidebar .ds-not-sidebar {
  margin: 1rem;
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(50% - 1rem); }

.ds-scope .ds-card {
  position: relative;
  border: 1px solid rgba(64, 63, 65, 0.2);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); }

.ds-scope .ds-card .ds-card-link::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.ds-scope .ds-card a:not(.ds-card-link) {
  position: relative;
  z-index: 2; }

.ds-scope .ds-card .ds-card-image {
  position: relative;
  padding-bottom: 37.5%; }

.ds-scope .ds-card .ds-card-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.ds-scope .ds-card .ds-card-body {
  padding: 1.95312rem; }

.ds-scope .ds-footer {
  padding: 4.76837rem 1.25rem;
  border-top: 0.5rem solid #007CAD;
  margin-top: 4.76837rem; }

.ds-scope .ds-copyright {
  max-width: none; }

.ds-scope .ds-copyright p {
  margin: 0 !important; }

.ds-scope .ds-copyright img {
  max-width: 15rem;
  margin-bottom: 0.5rem; }

.ds-scope .ds-footer, .ds-scope .ds-dark, .ds-scope .ds-footer *, .ds-scope .ds-dark * {
  color: #fff;
  background-color: #403F41; }

.ds-scope .ds-footer .ds-card, .ds-scope .ds-dark .ds-card,
.ds-scope .ds-footer form,
.ds-scope .ds-dark form,
.ds-scope .ds-footer .ds-candidate,
.ds-scope .ds-dark .ds-candidate {
  border: 1px solid; }

.ds-scope .ds-footer .ds-select::after, .ds-scope .ds-dark .ds-select::after {
  border-top-color: #fff; }

.ds-scope .ds-footer [class*="ds-button"]:not(:active), .ds-scope .ds-dark [class*="ds-button"]:not(:active) {
  border-bottom-color: #000; }

.ds-scope .ds-visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.ds-scope .ds-padded {
  padding: 1rem; }

.ds-scope .ds-padded-large {
  padding: 2.44141rem; }

.ds-scope .ds-bordered {
  border: 2px solid; }

.ds-scope .ds-text-left {
  text-align: left; }

.ds-scope .ds-text-centered {
  text-align: center; }

.ds-scope .ds-text-right {
  text-align: right; }

.ds-scope .ds-block-centered,
.ds-scope .ds-block-centered-narrow {
  display: block;
  max-width: 40em;
  margin-left: auto;
  margin-right: auto; }


.ds-scope .ds-block-centered-narrow {
  max-width: 30em; }

.ds-color-black {
  color: #403F41; }

.ds-color-blackOpacity {
  color: rgba(64, 63, 65, 0.2); }

.ds-color-white {
  color: #fff; }

.ds-color-pinkForWhite {
  color: #E6007C; }

.ds-color-blueForWhite {
  color: #007CAD; }

.ds-color-blueForBlack {
  color: #00B6FF; }

.ds-color-greenForWhite {
  color: #32841A; }

.ds-color-greenForBlack {
  color: #4BC427; }

.ds-color-amber {
  color: #FFC037; }

.ds-bg-color-black {
  background-color: #403F41; }

.ds-bg-color-blackOpacity {
  background-color: rgba(64, 63, 65, 0.2); }

.ds-bg-color-white {
  background-color: #fff; }

.ds-bg-color-pinkForWhite {
  background-color: #E6007C; }

.ds-bg-color-blueForWhite {
  background-color: #007CAD; }

.ds-bg-color-blueForBlack {
  background-color: #00B6FF; }

.ds-bg-color-greenForWhite {
  background-color: #32841A; }

.ds-bg-color-greenForBlack {
  background-color: #4BC427; }

.ds-bg-color-amber {
  background-color: #FFC037; }

.ds-font-size-s1 {
  font-size: 1rem; }

.ds-font-size-s2 {
  font-size: 1.25rem; }

.ds-font-size-s3 {
  font-size: 1.5625rem; }

.ds-font-size-s4 {
  font-size: 1.95312rem; }

.ds-font-size-s5 {
  font-size: 2.44141rem; }

.ds-font-size-s6 {
  font-size: 3.05176rem; }

.ds-font-size-s7 {
  font-size: 3.8147rem; }

.ds-font-size-s8 {
  font-size: 4.76837rem; }

.ds-height-ss1 {
  height: 0.125rem; }

.ds-height-ss2 {
  height: 0.25rem; }

.ds-height-ss3 {
  height: 0.375rem; }

.ds-height-ss4 {
  height: 0.5rem; }

.ds-height-ss5 {
  height: 0.625rem; }

.ds-height-ss6 {
  height: 0.75rem; }

.ds-height-ss7 {
  height: 0.875rem; }

.ds-height-ss8 {
  height: 1rem; }

.ds-scope {
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.125;
  color: #403F41; }
  .ds-scope input,
  .ds-scope button,
  .ds-scope textarea,
  .ds-scope select {
    font: inherit; }
  .ds-scope * {
    margin: 0; }
  .ds-scope *:focus {
    outline: 0.25rem solid #FFC037; }
  .ds-scope header, .ds-scope main, .ds-scope footer, .ds-scope nav, .ds-scope aside, .ds-scope section, .ds-scope details, .ds-scope summary {
    display: block; }
  .ds-scope img {
    display: inline-block;
    max-width: 100%;
    height: auto; }
  .ds-scope div:focus,
  .ds-scope [tabindex="-1"]:focus,
  .ds-scope body:focus {
    outline: none; }
  .ds-scope p, .ds-scope blockquote {
    font-family: Georgia, serif;
    font-weight: normal;
    line-height: 1.5;
    color: #403F41; }
  .ds-scope p + p {
    margin-top: 1rem !important; }
  .ds-scope blockquote {
    font-size: 1.5625rem;
    font-style: italic;
    border-left: 0.5rem solid #FFC037;
    padding-left: 1rem; }
  .ds-scope p, .ds-scope li, .ds-scope dt, .ds-scope dd, .ds-scope blockquote,
  .ds-scope h1, .ds-scope h2, .ds-scope h3, .ds-scope h4, .ds-scope h5, .ds-scope h6 {
    max-width: 40em; }
  .ds-scope small {
    font-size: 0.875rem; }
  .ds-scope h1, .ds-scope .ds-h1,
  .ds-scope h2, .ds-scope .ds-h2,
  .ds-scope h3, .ds-scope .ds-h3 h4, .ds-scope .ds-h4 {
    word-break: break-word; }
  .ds-scope h1, .ds-scope .ds-h1 {
    font-size: 3.8147rem;
    font-size: clamp(2.44141rem, 7vw, 3.8147rem); }
  .ds-scope h2, .ds-scope .ds-h2 {
    font-size: 3.05176rem;
    font-size: clamp(2.44141rem, 6vw, 3.05176rem); }
  .ds-scope h3, .ds-scope .ds-h3 {
    font-size: 2.44141rem;
    font-size: clamp(1.95312rem, 5vw, 2.44141rem); }
  .ds-scope h4, .ds-scope .ds-h4 {
    font-size: 1.95312rem;
    font-size: clamp(1.5625rem, 4vw, 1.95312rem); }
  .ds-scope h5, .ds-scope .ds-h5 {
    font-size: 1.5625rem;
    font-size: clamp(1.25rem, 3vw, 1.5625rem); }
  .ds-scope h6, .ds-scope .ds-h6 {
    font-size: 1.25rem;
    font-size: clamp(0.125rem, 2vw, 1.25rem); }
  .ds-scope h1, .ds-scope h2, .ds-scope h3, .ds-scope h4, .ds-scope h5, .ds-scope h6 {
    font-weight: 500;
    word-break: break-word; }
  .ds-scope a {
    color: #E6007C;
    text-decoration: underline; }
  .ds-scope ul, .ds-scope ol {
    font-family: Georgia, serif;
    font-weight: normal;
    line-height: 1.5;
    color: #403F41;
    padding-left: 1.95312rem; }
  .ds-scope ul[class], .ds-scope ol[class],
  .ds-scope [class] > ul:first-child,
  .ds-scope [class] > ol:first-child {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    line-height: 1.125;
    color: #403F41;
    padding-left: 0; }
  .ds-scope dt {
    font-size: 1.25rem; }
  .ds-scope dd {
    font-family: Georgia, serif;
    font-weight: normal;
    line-height: 1.5;
    color: #403F41;
    margin-left: 1.5625rem; }
  .ds-scope dl > * + * {
    margin-top: 0.75rem; }
  .ds-scope form {
    background-color: #E4F4FB; }
  .ds-scope form, .ds-scope fieldset {
    padding: 1.5625rem; }
  .ds-scope form * {
    margin: 0; }
  .ds-scope fieldset {
    border: 2px solid; }
  .ds-scope legend {
    padding: 0 0.625rem; }
  .ds-scope form > * + *, .ds-scope fieldset > *:not(legend) + * {
    margin-top: 1.95312rem; }
  .ds-scope .ds-field label {
    display: block; }
  .ds-scope .ds-field label small {
    display: block;
    margin-top: 0.25rem; }
  .ds-scope .ds-field > * + * {
    margin-top: 0.5rem; }
  .ds-scope input[type="text"],
  .ds-scope input[type="password"],
  .ds-scope input[type="email"],
  .ds-scope select {
    padding: 0.5rem;
    border: 2px solid;
    width: 100%;
    max-width: 30em;
    box-shadow: inset 0.25rem 0.25rem 0 rgba(64, 63, 65, 0.2); }
  .ds-scope .ds-field-error {
    color: #D91714;
    display: block; }
  .ds-scope .ds-error {
    padding: 1.25rem;
    background-color: #D91714;
    max-width: 30em; }
  .ds-scope .ds-error, .ds-scope .ds-error * {
    color: #fff; }
  .ds-scope .ds-error span[role="img"] {
    filter: invert(1) grayscale(1) contrast(100); }
  .ds-scope dl.ds-descriptions > div {
    display: flex;
    flex-wrap: wrap; }
  .ds-scope dl.ds-descriptions dt,
  .ds-scope dl.ds-descriptions dd {
    margin: 0;
    padding: 0;
    max-width: none; }
  .ds-scope dl.ds-descriptions dt {
    line-height: 1.5;
    padding-right: 1.25rem; }
  .ds-scope dl.ds-descriptions > div + div {
    margin-top: 0.75rem;
    padding-top: 0.75rem;
    border-top: 1px solid rgba(64, 63, 65, 0.2); }
  .ds-scope dl.ds-descriptions dd + dd {
    margin-top: 0.75rem; }
  .ds-scope dl.ds-descriptions > div > * {
    flex-grow: 0;
    flex-shrink: 1; }
  .ds-scope dl.ds-descriptions dt {
    flex-basis: 25%; }
  .ds-scope dl.ds-descriptions dt + * {
    flex-basis: 75%;
    min-width: min(35rem, 100%); }
  .ds-scope button[class*="ds-button"] {
    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: #E6007C;
    font-size: 1.25rem;
    padding: 0.625rem 1.25rem;
    border-bottom: 0.375rem solid #403F41; }
  .ds-scope button[class*="ds-button"]:active:not([disabled]) {
    position: relative;
    top: 0.375rem;
    border-bottom: 0;
    outline: none;
    margin-bottom: 0.375rem; }
  .ds-scope button.ds-button-blue {
    background-color: #007CAD; }
  .ds-scope button[class*="ds-button"][disabled] {
    cursor: not-allowed;
    opacity: 0.666; }
  .ds-scope a.ds-cta {
    display: inline-block;
    color: #E6007C;
    background-color: #fff;
    font-size: 1.25rem;
    padding: 0.875rem 1.25rem;
    border: 0.25rem solid;
    text-decoration: none; }
  .ds-scope a.ds-cta[href]:hover {
    transform: scale(1.05); }
  .ds-scope a.ds-cta-blue {
    color: #007CAD; }
  .ds-scope a.ds-cta:not([href]) {
    opacity: 0.666;
    cursor: not-allowed;
    border-style: dashed; }
  .ds-scope ul.ds-details {
    padding: 0;
    list-style: none; }
  .ds-scope details {
    padding: 1rem 0;
    border-style: solid;
    border-width: 1px 0; }
  .ds-scope details + details,
  .ds-scope ul.ds-details li + li details {
    margin-top: 0;
    border-top-width: 0; }
  .ds-scope summary {
    cursor: pointer;
    font-size: 1.5625rem;
    color: #E6007C; }
  .ds-scope summary > * {
    font: inherit;
    display: inline; }
  .ds-scope details[open] summary {
    margin-bottom: 1rem; }
  .ds-scope .ds-candidate {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgba(64, 63, 65, 0.2);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); }
  .ds-scope .ds-candidate-body {
    padding: 1.5625rem;
    flex-grow: 999;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 66.666%; }
  .ds-scope .ds-candidate-name {
    hyphens: auto;
    word-break: break-word; }
  .ds-scope .ds-candidate-name a::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2; }
  .ds-scope .ds-candidate-image {
    background-color: rgba(64, 63, 65, 0.2);
    flex-grow: 1;
    min-width: 10rem;
    min-height: 10rem;
    max-width: 100%;
    position: relative; }
  .ds-scope .ds-candidate-image img {
    display: block;
    height: 100%;
    position: absolute; }
  @supports (object-fit: cover) {
    .ds-scope .ds-candidate-image img {
      object-fit: cover;
      width: 100%; } }
  .ds-scope .ds-candidate:focus-within {
    outline: 0.25rem solid #FFC037; }
  .ds-scope .ds-candidate:focus-within a:focus {
    outline: none; }
  .ds-scope nav.ds-breadcrumbs ol {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    line-height: 1.125;
    color: #403F41;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    list-style: none; }
  .ds-scope nav.ds-breadcrumbs li {
    display: inline-block; }
  .ds-scope nav.ds-breadcrumbs li:not(:last-child)::after {
    content: '\00a0\00a0/\00a0'; }
  .ds-scope .ds-table {
    overflow-x: auto; }
  .ds-scope .ds-table table {
    position: relative;
    border-top: 0;
    border-collapse: collapse;
    min-width: 100%;
    text-align: left; }
  .ds-scope .ds-table th, .ds-scope .ds-table td, .ds-scope .ds-table caption {
    padding: 1rem; }
  .ds-scope .ds-table caption {
    padding-left: 0; }
  .ds-scope .ds-table td {
    font-family: Georgia, serif; }
  .ds-scope .ds-table tr:nth-child(even) {
    background-color: #E4F4FB; }
  .ds-scope .ds-table caption {
    font-size: 1.5625rem;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid; }
  .ds-scope .ds-table caption > * {
    font-size: inherit;
    font-weight: inherit; }
  .ds-scope .ds-table td + td,
  .ds-scope .ds-table th + th,
  .ds-scope .ds-table th + td {
    border-left: 1px solid; }
  .ds-scope .ds-table th:not([scope="row"]) {
    border-bottom: 1px solid; }
  .ds-scope .ds-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem; }
  .ds-scope .ds-header-home {
    flex-basis: 15rem;
    flex-grow: 0;
    margin-right: 1.25rem; }
  .ds-scope .ds-header-home img {
    width: 100%;
    max-width: 20rem;
    height: auto; }
  .ds-scope .ds-header nav {
    margin: 1rem 0 1rem auto; }
  .ds-scope .ds-header ul {
    font-size: clamp(0.875rem, 3vw, 1rem); }
  .ds-scope .ds-header li {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    line-height: 1.125;
    color: #403F41;
    display: inline-block; }
  .ds-scope .ds-header nav a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 0.5rem;
    border-bottom: 2px solid #fff; }
  .ds-scope .ds-header a:hover {
    border-bottom-color: #007CAD; }
  .ds-scope .ds-header [aria-current] {
    border-bottom-color: #E6007C; }
  .ds-scope .ds-skip-link {
    position: absolute;
    top: -5rem;
    display: inline-block;
    padding: 1rem;
    background-color: #fff; }
  .ds-scope .ds-skip-link:focus {
    top: 0.5rem;
    left: 0.5rem; }
  .ds-scope .ds-subnav {
    color: #E6007C;
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem); }
  .ds-scope .ds-subnav > * {
    margin: calc(0.75rem * -1) calc(1.95312rem * -1); }
  .ds-scope .ds-subnav > * > * {
    margin: 0.75rem 1.95312rem;
    position: relative; }
  .ds-scope .ds-subnav a {
    text-decoration: none; }
  .ds-scope .ds-subnav li:not(:last-child) a::after {
    content: '\00b7';
    position: absolute;
    right: calc(1.95312rem * -1 - 4px); }
  .ds-scope .ds-subnav [aria-current] {
    border-bottom: 2px solid; }
  .ds-scope .ds-field-radio {
    display: flex;
    align-items: center;
    cursor: pointer; }
  .ds-scope .ds-field-radio input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px; }
  .ds-scope .ds-field-radio > span::before {
    content: '';
    border-radius: 50%;
    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    border: 2px solid #403F41;
    margin-right: 0.375rem;
    vertical-align: -0.125em;
    background-color: #fff; }
  .ds-scope .ds-field-radio > input:checked + span::before {
    background-color: #E6007C;
    box-shadow: inset 0 0 0 0.25rem #fff; }
  .ds-scope .ds-field-radio > input:focus + span {
    text-decoration: underline;
    text-decoration-color: #FFC037;
    text-decoration-thickness: 2px; }
  .ds-scope .ds-field-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer; }
  .ds-scope .ds-field-checkbox input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px; }
  .ds-scope .ds-field-checkbox > span {
    display: flex;
    align-items: center; }
  .ds-scope .ds-field-checkbox > span::before {
    content: '';
    width: 1em;
    height: 1em;
    border: 2px solid #403F41;
    margin-right: 0.375rem;
    background-color: #fff;
    float: left; }
  .ds-scope .ds-field-checkbox > input:checked + span::before {
    text-align: center;
    content: '✓';
    color: #E6007C; }
  .ds-scope .ds-field-checkbox > input:focus + span {
    text-decoration: underline;
    text-decoration-color: #FFC037;
    text-decoration-thickness: 2px; }
  .ds-scope .ds-select {
    display: block;
    display: inline-block;
    width: 100%;
    max-width: 30em;
    position: relative; }
  @supports (-moz-appearance: none) or (-webkit-appearance: none) or (appearance: none) {
    .ds-scope .ds-select select {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      padding-right: 2.44141rem; }
    .ds-scope .ds-select::after {
      content: '';
      height: 0;
      width: 0;
      border: 1rem solid transparent;
      border-top-color: #E6007C;
      border-top-width: 0.9rem;
      position: absolute;
      right: 0.75rem;
      top: 50%;
      transform: translateY(-12.5%);
      pointer-events: none; } }
  .ds-scope .ds-filter {
    background-color: #E4F4FB;
    padding: 1.25rem; }
  .ds-scope .ds-filter ul {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    line-height: 1.125;
    color: #403F41; }
  .ds-scope .ds-filter ul a {
    display: inline-block;
    text-decoration: none;
    padding: 0.375rem 1rem;
    border: 2px solid; }
  .ds-scope .ds-filter ul a[aria-current] {
    display: inline-block;
    color: #fff;
    background-color: #E6007C;
    border-color: #E6007C; }
  .ds-scope .ds-filter > a {
    padding: 1rem 0; }
  .ds-scope .ds-filter-label {
    text-transform: uppercase; }
  .ds-scope .ds-filter summary {
    font-size: inherit; }
  .ds-scope .ds-filter details ul {
    font-size: 0.85em; }
  .ds-scope .ds-page main {
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
    margin-top: 4.76837rem;
    padding: 0 1.25rem; }
