<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="{{ site.basedir }}/images/favicon.svg">
    <link rel="stylesheet" href="{{ site.basedir }}/styles/site.css" />
    <link rel="stylesheet" href="{{ site.basedir }}/styles/system.css" />
    <title>{{ title }} {% if not home %}({{ site.name }}){% endif %}</title>
  </head>
  <body>
    <a href="#main">skip to content</a>
    <div>
      <nav>
        <a href="{{site.basedir}}">
          <img class="site-logo" src="{{site.basedir}}/images/logo.svg" alt="Design system homepage" />
        </a>
        <h2>Basics</h2>
        <ul>
          <li>
            <a href="{{site.basedir}}/usage/getting-started"><strong>Getting started</strong></a>
          </li>
          {%- for basic in collections.basicsAscending %}
          <li>
            <a href="{{site.basedir}}{{basic.url}}">{{basic.data.title}}</a>
          </li>
          {%- endfor  %}
        </ul>
        <h2>Components</h2>
        <ul>
          {%- for component in collections.componentsAscending %}
          <li>
            <a href="{{site.basedir}}{{component.url}}">{{component.data.title}}</a>
          </li>
          {%- endfor  %}
        </ul>
        <h2>Composition</h2>
        <ul>
          {%- for component in collections.usageAscending %}
          <li>
            <a href="{{site.basedir}}{{component.url}}">{{component.data.title}}</a>
          </li>
          {%- endfor  %}
        </ul>
      </nav>
      <main id="main" tabindex="-1">
        <h1>{{ title }}</h1>
        {{ content | safe }}
      </main>
    </div>
  </body>
</html>