<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="https://DemocracyClub.github.io/design-system/images/favicon.svg">
    <link rel="stylesheet" href="https://DemocracyClub.github.io/design-system/styles/site.css" />
    <link rel="stylesheet" href="https://DemocracyClub.github.io/design-system/styles/system.css" />
    <title>Showcase (Democracy Club Design System)</title>
  </head>
  <body>
    <a href="#main">skip to content</a>
    <div>
      <nav>
        <a href="https://DemocracyClub.github.io/design-system">
          <img class="site-logo" src="https://DemocracyClub.github.io/design-system/images/logo.svg" alt="Design system homepage" />
        </a>
        <h2>Basics</h2>
        <ul>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/usage/getting-started"><strong>Getting started</strong></a>
          </li>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/basics/colors/">Colors</a>
          </li>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/basics/dark/">Dark theme</a>
          </li>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/basics/forms/">Forms</a>
          </li>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/basics/modular-scale/">Modular scale</a>
          </li>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/basics/type/">Type</a>
          </li>
        </ul>
        <h2>Components</h2>
        <ul>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/components/breadcrumbs/">Breadcrumbs</a>
          </li>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/components/button/">Button</a>
          </li>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/components/call-to-action/">Call-to-action</a>
          </li>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/components/candidate/">Candidate</a>
          </li>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/components/card/">Card</a>
          </li>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/components/checkbox/">Checkbox</a>
          </li>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/components/cluster/">Cluster</a>
          </li>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/components/codeblock/">Code block</a>
          </li>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/components/date-picker/">Date Picker</a>
          </li>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/components/description-lists/">Description lists</a>
          </li>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/components/details/">Details</a>
          </li>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/components/filter/">Filter</a>
          </li>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/components/footer/">Footer</a>
          </li>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/components/grid/">Grid</a>
          </li>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/components/header/">Header</a>
          </li>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/components/language/">Language</a>
          </li>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/components/logo/">Logo</a>
          </li>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/components/party/">Party</a>
          </li>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/components/radio-button/">Radio buttons</a>
          </li>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/components/select/">Select</a>
          </li>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/components/showcase/">Showcase</a>
          </li>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/components/sidebar/">Sidebar</a>
          </li>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/components/stack/">Stack</a>
          </li>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/components/status/">Status</a>
          </li>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/components/subnavigation/">Sub-navigation</a>
          </li>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/components/switcher/">Switcher</a>
          </li>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/components/table/">Table</a>
          </li>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/components/utilities/">Utility classes</a>
          </li>
        </ul>
        <h2>Composition</h2>
        <ul>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/usage/composition/">Composing content</a>
          </li>
          <li>
            <a href="https://DemocracyClub.github.io/design-system/usage/page-layout/">Page layout</a>
          </li>
        </ul>
      </nav>
      <main id="main" tabindex="-1">
        <h1>Showcase</h1>
        <p>A Showcase is used for showing off a set of nubmers with some text.</p>
<p>It's typically used for dashboards or for showing off some figures, for example
stats about an election cycle.</p>
<p>Use with a Switcher for a grid display.</p>
<div class="site-stack" style="--stack-space: 1rem">
<div class="site-stack">
<h2>Light theme</h2>
<div class="ds-scope">
<div  style="padding: 1em">
<div class="site-resizer">
  <ul class="ds-switcher ds-showcase" style="--gridCellMin: 15ch;--gridGap:3rem;">
    <li><strong>12,200</strong> people have contributed to improving our democratic&nbsp;data</li>
    <li><strong>60,000</strong> edits were made by our community in the 2022 local&nbsp;elections</li>
    <li><strong>900</strong> people in our Democracy Club Slack. <a class="ds-text-left" href="#">Join us</a></li>
  </ul>
</div>
</div>
</div>
<h2>Dark theme</h2>
<small>Invoke the dark theme on any component by applying <code>class="ds-dark"</code> to a container element.</small>
<div class="ds-scope">
<div class="ds-dark" style="padding: 1em">
<div class="site-resizer">
  <ul class="ds-switcher ds-showcase" style="--gridCellMin: 15ch;--gridGap:3rem;">
    <li><strong>12,200</strong> people have contributed to improving our democratic&nbsp;data</li>
    <li><strong>60,000</strong> edits were made by our community in the 2022 local&nbsp;elections</li>
    <li><strong>900</strong> people in our Democracy Club Slack. <a class="ds-text-left" href="#">Join us</a></li>
  </ul>
</div>
</div>
</div>
</div>
</div>

      </main>
    </div>
  </body>
</html>