html {
  font-family: monospace;
  font-size: 100%;
  color: #000;
  line-height: 1.5;
  --dark: #000;
  --light: #fff;
}

body {
  padding: 0;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  color: inherit;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,li,dt,dd {
  max-width: 80ch;
}

code {
  background-color: var(--dark);
  color: var(--light);
  padding: 0.125em;
  white-space: nowrap;
}

code[class^="language-"] {
  display: block;
  padding: 1rem;
  white-space: pre-wrap;
}

ul {
  margin-left: 2.25rem;
}

.site-logo {
  width: 100%;
  max-width: 15rem;
  height: auto;
}

body > div {
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
  align-items: flex-start;
  overflow: hidden;
}

body > div > * {
  padding: 3rem;
  flex-basis: 20rem;
}

main {
  flex-grow: 1;
  flex-basis: calc(100% - 20rem);
  min-height: 100vh;
  outline: 1px dashed;
  min-width: min(30rem, 100%);
  overflow: hidden;
}

[href="#main"] {
  position: absolute;
  top: -5rem;
}

[href="#main"]:focus {
  top: 0.5rem;
  left: 0.5rem;
}

nav > * + *, main > * + * {
  margin-top: 2.25rem;
}

.site-grid {
  display: grid;
  grid-gap: 0.75rem;
  --minimum: 10rem;
}

@supports (width: min(var(--minimum), 100%)) {
  .site-grid {
    grid-template-columns: repeat(auto-fit, minmax(min(var(--minimum), 100%), 1fr));
  }
}

.site-swatch {
  width: 2.25rem;
  height: 2.25rem;
  border: 1px solid;
}

.site-resizer {
  resize: horizontal;
}

.site-nowrap {
  white-space: nowrap;
}

.site-block-black {
  background-color: #000;
}

.site-stack > * + * {
  margin-top: var(--stack-space, 2.25rem);
}

[class*="site-note"] {
  padding: 1rem;
  border: 1px solid;
}

table.site-table {
  border-collapse: collapse;
  width: 100%;
}

table.site-table th, table.site-table td {
  text-align: left;
  padding: 0.75rem;
  border: 1px solid;
  vertical-align: middle;
}

.site-box-dashed {
  border: 1px dashed;
}

