// Generate color classes

$colors: (
  black: $black,
  blackOpacity: $blackOpacity,
  white: $white,
  pinkForWhite: $pinkForWhite,
  blueForWhite: $blueForWhite,
  blueForBlack: $blueForBlack,
  greenForWhite: $greenForWhite,
  greenForBlack: $greenForBlack,
  amber: $amber
);

@mixin color-modifiers($attribute: 'color') {
  @each $name, $hex in $colors {
    &-#{$name} {
      #{$attribute}: $hex;
    }
  }
}

.ds-color {
  @include color-modifiers($attribute: 'color');
}

.ds-bg-color {
  @include color-modifiers($attribute: 'background-color');
}