@mixin button {
  button[class*="ds-button"] {
    border: 0;
    cursor: pointer;
    color: $white;
    background-color: $pinkForWhite;
    font-size: $s2;
    padding: $ss5 $s2;
    border-bottom: $ss3 solid $black;
  }

  button[class*="ds-button"]:active:not([disabled]) {
    position: relative;
    top: $ss3;
    border-bottom: 0;
    outline: none;
    margin-bottom: $ss3;
  }

  button.ds-button-blue {
    background-color: $blueForWhite;
  }

  button[class*="ds-button"][disabled] {
    cursor: not-allowed;
    opacity: 0.666;
  }

  .ds-dark button[class*="ds-button"][disabled]:active {
    border-bottom-color: #000;
  }
}

