@mixin candidate {
  .ds-candidate {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid $blackOpacity;
    box-shadow: $cardShadow;
  }

  .ds-candidate-body {
    padding: $s3;
    flex-grow: 999;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
  }

  .ds-candidate-name {
    hyphens: auto;
    word-break: break-word;
  }

  .ds-candidate-name a::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  .ds-candidate-image {
    background-color: #efefef;
    flex-grow: 1;
    min-width: 10rem;
    min-width: min(10rem, 100%);
    min-height: 10rem;
    max-width: 100%;
    position: relative;
    aspect-ratio: 1/1;
  }

  .ds-candidate-image img {
    display: block;
    height: 100%;
    position: absolute;
  }

  @supports (object-fit: cover) {
    .ds-candidate-image img {
      object-fit: cover;
      width: 100%;
    }
  }

  @media (max-width: 400px) {
    li.ds-candidate {
      flex-wrap: nowrap;
    }

    li .ds-candidate-body, li .ds-candidate-image {
      padding: $s1;
    }

    li .ds-candidate-image {
      background-color: transparent;
      min-width: 0;
      display: flex;
      align-items: center;
      min-height: 0;
    } 
    
    li .ds-candidate-image img {
      position: static;
      object-fit: inherit;
      height: 12vh;
      width: auto;
      margin-left: auto;
    }
  }

  .ds-candidate:focus-within {
    outline: $ss2 solid $amber;
  }

  .ds-candidate:focus-within a:focus {
    outline: none;
  }

  :not(li).ds-candidate .ds-candidate-body {
    flex-basis: 50%;
  }

  :not(li).ds-candidate .ds-candidate-image {
    min-width: 20rem;
    min-width: min(20rem, 100%);
  }
}