%ds-card {
  position: relative;
  border: 1px solid $blackOpacity;
  box-shadow: $cardShadow;
}

%ds-card .ds-card-link::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

%ds-card a:not(.ds-card-link) {
  position: relative;
  z-index: 2;
}

%ds-card .ds-card-image {
  position: relative;
  padding-bottom: 37.5%;
}

%ds-card .ds-card-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

%ds-card .ds-card-body {
  padding: $s4;
  @extend %ds-stack-smaller;
}

@mixin card {
  .ds-card { @extend %ds-card }
}