@mixin card {
  .ds-card {
    position: relative;
    padding: $s2;
    border: 1px solid $blackOpacity;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  }

  .ds-card .ds-card-link::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .ds-card a:not(.ds-card-link) {
    position: relative;
  }
}