// Generate large scale classes

$points: (
  s1: $s1,
  s2: $s2,
  s3: $s3,
  s4: $s4,
  s5: $s5,
  s6: $s6,
  s7: $s7,
  s8: $s8,
);

@mixin scale-modifiers($attribute: 'font-size') {
  @each $name, $point in $points {
    &-#{$name} {
      #{$attribute}: $point;
    }
  }
}

.ds-font-size {
  @include scale-modifiers($attribute: 'font-size');
}

// Generate small scale classes

$pointsSmall: (
  ss1: $ss1,
  ss2: $ss2,
  ss3: $ss3,
  ss4: $ss4,
  ss5: $ss5,
  ss6: $ss6,
  ss7: $ss7,
  ss8: $ss8,
);

@mixin small-scale-modifiers($attribute: 'height') {
  @each $name, $point in $pointsSmall {
    &-#{$name} {
      #{$attribute}: $point;
    }
  }
}

.ds-height {
  @include small-scale-modifiers($attribute: 'height');
}