@mixin cluster {
  .ds-cluster > *,
  .ds-cluster-right > *,
  .ds-cluster-center > * {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: calc(#{$ss3} * -1);
  }

  .ds-cluster > * > *,
  .ds-cluster-right > * > *,
  .ds-cluster-center > * > * {
    margin: $ss3;
  }

  .ds-cluster-right > * {
    justify-content: flex-end;
  }

  .ds-cluster-center > * {
    justify-content: center;
  }
}