@mixin description-lists {
  /*dl.ds-descriptions > div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  dl.ds-descriptions dt,
  dl.ds-descriptions dd {
    margin: 0;
    padding: 0;
    max-width: none;
  }

  dl.ds-descriptions dt {
    line-height: 1.25;
    padding-right: $s2;
  }

  dl.ds-descriptions > div + div {
    margin-top: $ss6;
    padding-top: $ss6;
    border-top: 1px solid $blackOpacity;
  }

  dl.ds-descriptions dd + dd {
    margin-top: $ss6;
  }

  dl.ds-descriptions > div > * {
    flex-grow: 1;
    flex-shrink: 0;
  }

  dl.ds-descriptions dt {
    flex-basis: calc(25% - #{$s2});
  }

  dl.ds-descriptions dt + * {
    flex-basis: 75%;
    min-width: min(20rem, 100%);
  }*/

  dl.ds-descriptions > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  dl.ds-descriptions > div + div {
    margin-top: $ss6;
    padding-top: $ss6;
    border-top: 1px solid $blackOpacity;
  }

  dl.ds-descriptions dt,
  dl.ds-descriptions dd {
    margin: 0;
    padding: 0;
    max-width: none;
  }

  dl.ds-descriptions > div > dt {
    line-height: 1.125;
    flex-basis: 10rem;
    padding-right: $s2;
    flex-grow: 1;
  }

  dl.ds-descriptions dt + * {
    flex-basis: calc(100% - 12rem);
    flex-grow: 666;
    min-width: 50%;
  }

  dl.ds-descriptions  dt + * {
    word-break: break-word;
  }

  dl.ds-descriptions dd + dd {
    margin-top: $ss6;
  }
}