@mixin details {
  ul.ds-details {
    padding: 0;
    list-style: none;
  }

  details {
    padding: $s1 0;
    border-style: solid;
    border-width: 1px 0;
  }

  details + details,
  ul.ds-details li + li details {
    margin-top: 0;
    border-top-width: 0;
  }

  summary {
    @include fontMain;
    font-style: normal;
    cursor: pointer;
    font-size: $s3;
    color: $pinkForWhite;
  }

  summary > * {
    font: inherit;
    display: inline;
  }

  details[open] summary {
    margin-bottom: $s1;
  }

  summary::marker,
  summary::-webkit-details-marker {
    display: none;
  }

  summary::before {
    line-height: 1;
    content: '▸\0020\0020'
  }

  details[open] summary::before {
    content: '▾\0020\0020';
  }
}