@mixin filter {
  .ds-filter {
    background-color: $blueLight;
    padding: $s2;
    @extend %ds-stack-smaller;
  }

  .ds-filter-cluster {
    @extend %ds-cluster;
    @extend %ds-cluster-tight;
  }

  .ds-filter ul {
    @include fontMain;
  }

  .ds-filter ul a {
    display: inline-block;
    text-decoration: none;
    padding: $ss3 $s1;
    border: 2px solid;
  }

  .ds-filter ul a[aria-current] {
    display: inline-block;
    color: $white;
    background-color: $pinkForWhite;
    border-color: $pinkForWhite;
  }

  .ds-filter > a {
    padding: $s1 0;
  }

  .ds-filter-label {
    text-transform: uppercase;
  }

  .ds-filter summary {
    font-size: inherit;
  }

  .ds-filter details ul {
    font-size: 0.85em;
  }

  .ds-advanced-filters {
    @extend %ds-stack-smallest;
  }
}