@font-face {
  font-family: 'Montserrat';
  src: url('fonts/montserrat-medium.woff2') format('woff2'),
        url('fonts/montserrat-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/montserrat-light.woff2') format('woff2'),
        url('fonts/montserrat-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}