%ds-footer {
  padding: $s8 $s2;
  border-top: $ss4 solid $blueForWhite;
  margin-top: $s8;
  @extend %ds-dark;
}

%ds-copyright {
  max-width: none;
  @extend %ds-stack-smallest;
}

%ds-copyright p {
  margin: 0 !important;
}

%ds-copyright img {
  max-width: 15rem;
  margin-bottom: $ss4;
}

@mixin footer {
  .ds-footer { @extend %ds-footer }
  .ds-copyright { @extend %ds-copyright }
}