%ds-footer {
  @extend .ds-stack-smaller;
  padding: $s4 $s2;
  border-top: $ss4 solid $blueForWhite;
  margin-top: $s8;
  background-color: $black;
  color: $white;

}

%ds-footer form {
  background-color: $black;
}

%ds-footer * {
  color: $white;
  margin-left: auto;
  margin-right: auto;
  max-width: 70ch;
}

%ds-footer {
    @extend .ds-text-centered;
}

%ds-footer-links {

  @extend .ds-switcher;
  @extend .ds-text-centered;

  &> * {
    --gridCellMin: 20ch;
  }

  h2 {
    @extend .ds-h5;
  }

  nav {

    margin-top: $s2;



    ul {
      list-style: none;
      padding:0;
    }

  }
}

%ds-copyright {
  padding: $s4;
  background-color: $black;
  max-width:100%;
}

@mixin footer {
  .ds-footer { @extend %ds-footer; }
  .ds-copyright { @extend %ds-copyright; }
  .ds-footer-links { @extend %ds-footer-links; }

  // Dark theme
  .ds-dark {
    .ds-footer {
      background-color: $darkBlack;
    }

    .ds-footer .ds-copyright {
      color: $white;
      background-color: $darkBlack;
    }

    .ds-footer form {
      background-color: $darkBlack;
      border:none;
    }
  }
}
