// Just the form layout basics
// You need to import field types separately

@mixin forms {
  form {
    background-color: $blueLight;
  }

  form, fieldset {
    padding: $s3;
  }

  form * {
    margin: 0;
  }

  fieldset {
    border: 2px solid;
  }

  legend {
    padding: 0 $ss5;
  }

  form > * + *, fieldset > *:not(legend) + * {
    margin-top: $s4;
  }

  .ds-field label {
    display: block;
  }

  .ds-field label small {
    display: block;
    margin-top: $ss2;
  }

  .ds-field > * + * {
    margin-top: $ss4;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  select {
    padding: $ss4;
    border: 2px solid;
    width: 100%;
    max-width: $measureReduced;
    box-shadow: inset $ss2 $ss2 0 $blackOpacity;
    box-sizing: border-box;
  }

  .ds-field-error {
    color: $redForBlueLight;
    display: block;
  }

  .ds-error {
    padding: $s2;
    background-color: $redForWhite;
    max-width: $measureReduced;
  }

  .ds-error, .ds-error * {
    color: #fff;
  }

  .ds-error span[role="img"] {
    filter: invert(1) grayscale(1) contrast(100);
  }
}

