%ds-grid {
  padding: 0;
}

%ds-grid > * {
  list-style: none;
  margin: 0;
  max-width: none;
}

%ds-grid > * + * {
  margin-top: $s3;
}

@supports (width: calc(min(20px, 100%))) {
  %ds-grid > * + * {
    margin-top: 0;
  }

  %ds-grid {
    display: grid;
    grid-gap: var(--gridGap, #{$s2});
    --gridCellMin: 30ch;
    grid-template-columns: repeat(auto-fit, minmax(min(var(--gridCellMin), 100%), 1fr));
  }
}

@mixin grid {
  .ds-grid { @extend %ds-grid }
}