@mixin header {
  .ds-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: $s2;
  }

  .ds-header-home {
    flex-basis: 15rem;
    flex-grow: 0;
    margin-right: $s2;
  }

  .ds-header-home img {
    width: 100%;
    max-width: 20rem;
    height: auto;
  }

  .ds-header nav {
    @extend %ds-cluster;
    margin: $s1 0 $s1;
  }

  .ds-header ul {
    font-size: clamp(#{$ss7}, 3vw, #{$s1});
  }

  .ds-header li {
    @include fontMain;
    display: inline-block;
  }

  .ds-header nav a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: $ss4;
    border-bottom: 2px solid $white;
  }

  .ds-header a:hover {
    border-bottom-color: $blueForWhite;
  }

  .ds-header [aria-current] {
    border-bottom-color: $pinkForWhite;
  }
}