@mixin logout {
  form.ds-logout {
    border: 0;
    background: none;
    padding: 0;
    display: inline-block;
  }

  form.ds-logout button {
    @extend %link-button;
    color: $pinkForWhite;
    text-decoration: underline;
    border-bottom: 2px solid $white;
  }

  .ds-header form.ds-logout button:hover {
    border-bottom-color: $blueForWhite;
  }

  .ds-header form.ds-logout button {
    padding: $ss4;
    color: inherit;
    text-decoration: none;
  }

  .ds-dark {
    form.ds-logout button {
      color: inherit;
      border-bottom-color: transparent;

    }

    .ds-header form.ds-logout button:hover {
      border-bottom-color: $blueForBlack;
    }
  }
}
