@mixin logo {
  .ds-logo {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    color: inherit;
  }


  .ds-logo img {
    height: 4.5rem;
    margin-right: $ss3;
  }

  .ds-logo span {
    font-weight: 300;
    font-size: $s3;
    text-decoration: none;
    text-align: left;
    color: $black;
  }

  .ds-header .ds-logo span em {
    color: $black;
  }


  .ds-logo em {
    display: block;
    font-size: $s2;
    font-weight: normal;
    font-style: normal;
    margin-top: $ss3;
    color: $black;
  }
}

.ds-dark .ds-header .ds-logo span {
  color: $white;
}

.ds-dark .ds-header .ds-logo span em {
  color: $white;
}

.ds-dark .ds-logo span em {
  color: $white;
}
