@mixin radio {
  .ds-field-radio {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .ds-field-radio input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .ds-field-radio > span {
    order: 1px solid #dee0e2;
    background-color: #dee0e2;
    padding:1em;
    margin: $ss2;
    display: inline-block;
  }

  .ds-field-radio > span::before {
    content: '';
    border-radius: 50%;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border: 2px solid $black;
    margin-right: $ss4;
    vertical-align: middle;
    background-color: $white;
  }

  .ds-field-radio > input:checked + span {
    background-color: white !important;
  }

  .ds-field-radio > input:checked + span::before {
    background-color: $pinkForWhite;
    box-shadow: inset 0 0 0 $ss2 $white;
  }

  .ds-field-radio > input:focus + span {
    text-decoration: underline;
    text-decoration-color: $amber;
    text-decoration-thickness: 2px;
    outline: solid $amber;
  }

  // Dark theme
  .ds-dark {
    .ds-field-radio > span::before,
    .ds-field-radio > span,
     {
      background-color: $whiteOpacity;
    }
    .ds-field-radio > input:checked + span {
      color:$black;
      background-color: $white;
    }

  }

}
