@mixin showcase {
  .ds-showcase li {
    font-family: $familyBody;
  }

  .ds-showcase strong {
    color: $pinkForWhite;
    display: block;
    font-family: $familyMain;
    @extend .ds-h4;
  }

  // Dark theme
  .ds-dark {
    .ds-showcase strong {
      color: $white;
      font-weight: bold;
    }
  }

}
