%ds-stack-larger > *,
%ds-stack > *,
%ds-stack-smaller > *,
%ds-stack-smallest > * {
  margin: 0;
}

%ds-stack-larger > * + * {
  margin-top: $s8;
}

%ds-stack > * + * {
  margin-top: $s6;
}

%ds-stack-smaller > * + * {
  margin-top: $s3;
}

%ds-stack-smallest > * + * {
  margin-top: $ss2;
}

@mixin stack {
  .ds-stack-larger { @extend %ds-stack-larger }
  .ds-stack { @extend %ds-stack }
  .ds-stack-smaller { @extend %ds-stack-smaller }
  .ds-stack-smallest { @extend %ds-stack-smallest }
}