@mixin type {
  @include fontMain;

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  *:focus {
    outline: $ss2 solid $amber;
  }

  div:focus,
  [tabindex="-1"]:focus,
  body:focus {
    outline: none;
  }

  p, ul, ol, blockquote {
    @include fontBody;
  }

  // successive paragraphs are immune to Stack
  p + p {
    margin-top: $s1 !important;
  }

  blockquote {
    font-size: $s3;
    font-style: italic;
    border-left: $ss4 solid $amber;
    padding-left: $s1;
  }

  p, li, dt, dd, blockquote,
  h1, h2, h3, h4, h5, h6 {
    max-width: $measure;
  }

  small {
    font-size: $ss8;
  }

  h1, .ds-h1 { font-size: $s7 }
  h2, .ds-h2 { font-size: $s6 }
  h3, .ds-h3 { font-size: $s5 }
  h4, .ds-h4 { font-size: $s4 }
  h5, .ds-h5 { font-size: $s3 }
  h6, .ds-h6 { font-size: $ss2 }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
  }

  a {
    color: $pinkForWhite;
    text-decoration: underline;
  }

  ul:not([class]), ol:not([class]) {
    padding-left: $s4;
  }

  dt {
    font-size: $s3;
  }

  dd {
    @include fontBody;
    margin-left: $s3;
  }

  dl > * + * {
    margin-top: $ss6;
  }

}