// Utility classes etc
@mixin utilities {
  .ds-visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .ds-padded-small {
    padding: $s1;
  }

  .ds-padded-large {
    padding: $s3;
  }

  .ds-bordered {
    border: 2px solid;
  }

  .ds-text-centered {
    text-align: center;
  }

  .ds-block-centered {
    max-width: $measure;
    margin-left: auto;
    margin-right: auto;
  }

  .ds-block-centered-narrow {
    max-width: $measureReduced;
  }
}