%ds-visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

%ds-padded {
  padding: $s1;
}

%ds-padded-large {
  padding: $s5;
}

%ds-bordered {
  border: 2px solid;
}

%ds-text-left {
  text-align: left;
}

%ds-text-centered {
  text-align: center;
}

%ds-text-right {
  text-align: right;
}

%ds-block-centered,
%ds-block-centered-narrow {
  display: block;
  max-width: $measure;
  margin-left: auto;
  margin-right: auto;
}

%ds-block-centered-narrow {
  max-width: $measureReduced;
}

%ds-width-full {
  display: block;
  max-width: none;
  width: auto;
}

%ds-width-full-text {
  max-width: $measure;
}

%ds-width-reduced-text {
  max-width: $measureReduced;
}

%ds-width-half-text {
  max-width: $measureHalf;
}

%ds-width-third-text {
  max-width: $measureThird;
}

@mixin utilities {
  .ds-visually-hidden { @extend %ds-visually-hidden }
  .ds-padded { @extend %ds-padded }
  .ds-padded-large { @extend %ds-padded-large }
  .ds-text-left { @extend %ds-text-left }
  .ds-bordered { @extend %ds-bordered }
  .ds-text-centered { @extend %ds-text-centered }
  .ds-text-right { @extend %ds-text-right }
  .ds-block-centered { @extend %ds-block-centered }
  .ds-block-centered-narrow { @extend %ds-block-centered-narrow }
  .ds-width-full { @extend %ds-width-full }
  .ds-width-full-text { @extend %ds-width-full-text }
  .ds-width-reduced-text { @extend %ds-width-reduced-text }
  .ds-width-half-text { @extend %ds-width-half-text }
  .ds-width-third-text { @extend %ds-width-third-text }
}