// Fix min function for libsass
@function min($numbers...) {
  @return m#{i}n(#{$numbers})
}

// Colours

$black: #403F41;
$blackOpacity: rgba($black, 0.2);
$white: #fff;
$pinkForWhite: #E6007C;
$blueForWhite: #007CAD;
$blueForBlack: #00B6FF;
$blueLight: #E4F4FB;
$greenForWhite: #32841A;
$greenForBlack: #4BC427;
$redForWhite: #D91714;
$redForBlueLight: $redForWhite;
$amber: #FFC037;

// Scales

@function pow($number, $exponent) {
  $value: 1;
  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }
  @return $value;
}

// Large scale
$ratio: 1.25;
$s1: 1rem;
$s2: #{$ratio}rem;
$s3: #{pow($ratio, 2)}rem;
$s4: #{pow($ratio, 3)}rem;
$s5: #{pow($ratio, 4)}rem;
$s6: #{pow($ratio, 5)}rem;
$s7: #{pow($ratio, 6)}rem;
$s8: #{pow($ratio, 7)}rem;

// Small scale
$increment-small-scale: 0.125rem;
$ss1: $increment-small-scale;
$ss2: $ss1 + $increment-small-scale;
$ss3: $ss2 + $increment-small-scale;
$ss4: $ss3 + $increment-small-scale;
$ss5: $ss4 + $increment-small-scale;
$ss6: $ss5 + $increment-small-scale;
$ss7: $ss6 + $increment-small-scale;
$ss8: $ss7 + $increment-small-scale;

// Type

// Font families
$familyMain: Montserrat, sans-serif;
$familyBody: Georgia, serif;

// Line heights
$lineHeight: 1.5; // WCAG 1.4.12 recommended minimum
$lineHeightTight: 1.125;

// Measure (characters per line; used with max-width typically)
$measure: 70ch;
$measureReduced: 50ch;
$measureHalf: 35ch;
$measureThird: 23ch;

@mixin fontMain {
  font-family: $familyMain;
  font-weight: 500;
  line-height: $lineHeightTight;
  color: $black;
}

@mixin fontBody {
  font-family: $familyBody;
  font-weight: normal;
  line-height: $lineHeight;
  color: $black;
}

$cardShadow: 0 2px 4px 0 rgba(0,0,0,0.1);